<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="IT酷鱼网,记录一个菜鸟成长的地方,希望借此结交更多前辈好友。这里分享着前端、nodejs等学习上的点点滴滴，愿与您共同分享，一起进步！我坚信,web将会是未来应用的主流。" />
		<meta name="keywords" content="Web前端,Html5,Node.js,coolfish,yves,IT酷鱼网" />
		<meta name="email" content="admin@web-tinker.com" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
		<title>IT酷鱼网 | Yves的个人网站 全栈工程师</title>

		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>
		<!-- 背景 -->
		<div class="galLayer">
			<div class="galBj" style="background-image: url(/images/fengye.jpg);">
			</div>
			<div class="galMask"></div>
		</div>
		<header class="nav_header">
			<div class="nav_body">
				<div class="grid-row">
					<nav>
						<a href="###">网站首页</a>
						<a href="###" class="active">我的博客</a>
						<a href="###">我的作品</a>
						<a href="###">关于酷鱼</a>  
						<a href="###">我要留言</a>
						<u style="width: 56px; left: 70px;"></u>
					</nav>
					<h2><a href="/">IT酷鱼网</a></h2>
					<h3>人生，从外打破，是压力；从内打破，是成长。</h3>
				</div>
			</div>
		</header>

	</body>
</html>
